# Entorno virtual
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Datasets descargados por scikit-learn (cache local)
scikit_learn_data/
